swagger: '2.0'
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: localhost:3001
basePath: /api/v1
schemes:
  - http

paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: '#/definitions/Login'
      produces:
        - application/json
      responses:
        '200':
          description: Login Successfully
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error

  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: '#/definitions/User'
      produces:
        - application/json
      responses:
        '200':
          description: Signup Successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error

  /user/profile:
    post:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      parameters:
        - in: header
          type: string
          name: Authorization
          description: Attach Bearer JWT token
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error

    put:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: header
          type: string
          name: Authorization
          description: Attach Bearer JWT token
          required: true
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error

  /accounts/{accountId}/transactions:
    get:
      tags:
        - Transactions Module
      summary: Get All Transactions of account
      description: API for fetching all transactions of an account
      security:
        - Bearer: []
      parameters:
        - in: path
          name: accountId
          description: ID of account
          required: true
          type: string
        - in: query
          name: month
          required: false
          type: string
          description: Filter transactions by month
      produces:
        - application/json
      responses:
        '200':
          description: Transactions All Successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Transactions'
        '400':
          description: Transactions Not Found
        '500':
          description: Internal Server Error

  /accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
        - Transactions Module
      summary: Get One Transaction
      security:
        - Bearer: []
      description: API for fetching one transaction
      parameters:
        - in: path
          name: accountId
          description: Transactions Payload
          required: true
          type: string
        - in: path
          name: transactionId
          required: true
          type: string
          description: ID of transaction
      produces:
        - application/json
      responses:
        '200':
          description: Transactions Successfully
          schema:
            $ref: '#/definitions/Transactions'
        '400':
          description: Transactions Not Found
        '500':
          description: Internal Server Error

    put:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Transactions
      description: API for modifying transactions information
      parameters:
        - in: path
          type: string
          name: accountId
          required: true
        - in: path
          name: transactionId
          description: ID of the transaction
          required: true
          type: string
        - in: body
          name: body
          description: Fields to update
          required: true
          schema:
            $ref: '#/definitions/TransactionUpdate'
      produces:
        - application/json
      responses:
        '200':
          description: Modifying information transaction successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '404':
          description: Transaction not found
        '500':
          description: Internal Server Error

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

definitions:
  User:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
      firstName:
        type: string
        description: user first name
      lastName:
        type: string
        description: user last name

  Login:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password

  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string

  LoginResponse:
    type: object
    properties:
      token:
        type: string

  UserProfile:
    type: object
    properties:
      firstName:
        type: string
      lastName:
        type: string

  Transactions:
    type: object
    required:
      - id
      - accountId
      - date
      - amount
      - currency
      - type
    properties:
      id:
        type: string
        description: Transaction unique identifier
      accountId:
        type: string
        description: Account identifier linked to the transaction
      date:
        type: string
        description: Date of the transaction
      amount:
        type: number
        description: Amount of the transaction
      currency:
        type: string
        description: Currency used for the transaction
      type:
        type: string
        enum:
          - debit
          - credit
        description: Transaction type (debit or credit)
      description:
        type: string
        description: Additional details about the transaction
      category:
        type: string
        description: Category assigned to the transaction
      merchant:
        type: string
        description: Merchant linked to the transaction
      balanceAfter:
        type: number
        description: Balance after transaction

  TransactionUpdate:
    type: object
    properties:
      date:
        type: string
        description: Updated transaction date
      amount:
        type: number
        description: Updated amount
      currency:
        type: string
        description: Updated currency
      type:
        type: string
        description: Updated type
      description:
        type: string
        description: Updated description
      category:
        type: string
        description: Updated category
      merchant:
        type: string
        description: Updated merchant
